<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Personal Summary</h2>
<div class="summary">
    <p>As a design thinker, traveler, and parent, I develop creative and flexible solutions to complex and meaningful challenges. My drive to understand the entire system around a design challenge makes me a valuable leader on teams of various sizes and on projects in multiple industries. I studied music, ran a freelance design practice, lived and worked in 3 capital cities on two different continents, and have designed and distributed tools that solve problems ranging from community organising to enterprise profit maximisation. Because of my experiences, I am capable of taking on challenges of class, locale, context, usability, and resources.</p>
</div><!--//summary-->
</section><!--//section-->
