<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Personal Summary</h2>
<div class="summary">
    <p>As a designer and a critical thinker, I develop creative and flexible solutions to complex and meaningful design challenges, no matter the context, environment, or technology. I've been a contributor and leader on projects in various industries and countries on both sides of the Atlantic ocean. To reach my next level of accomplishment, I'm looking to help organizations large and small with their Human-centered Experience Design, from developing strategy to executing tactics.</p>
</div><!--//summary-->
</section><!--//section-->
