<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Personal Summary</h2>
<div class="summary">
    <p>As a design thinker, traveler, and parent, I have developed creative and flexible solutions to complex and meaningful challenges. My drive to understand the entire system around a design challenge has made me a valuable leader on teams of various sizes and on projects in multiple industries. Having studied music, managed a freelance practice, and designed and distributed tools ranging from community organizing to enterprise profit maximization, I have taken on challenges of class, locale, context, and resources.</p>
</div><!--//summary-->
</section><!--//section-->
