 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BM in Music</h4>
    <h5 class="meta">New York University</h5>
    <div class="time">1995 - 1999</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Wed Design & Development</h4>
    <h5 class="meta"><a href="https://teamtreehouse.com/qaid">Treehouse</a></h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->
