<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX & Product Designer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">VONQ, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Product and UX designer for SAAS application. Organize and execute qualitative user research. Define jobs-to-be-done objectives, customer journeys, and workflows. Produce product concepts to elaborate product vision and deliver UX assets (wireframes, sitemaps, interactive prototypes).
Help establish product roadmap through User-centered goals prioritization.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design Mentor</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">DesignLab.com, Worldwide</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Remote mentor on distance learning platform.
Advise and guide students increasing their knowledge of core UX and Design principles. Help to provide context, details, and real-word application of UX and Interaction Design notions.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX Designer</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nipo Software, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>UX Designer for SAAS data collection platform.
Produce product designs, interactive style guides, pattern libraries. Organize and execute user testing and research. Deliver prototypes. Help establish product roadmap through User-centered goals prioritization.
</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Designer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Booking.com, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Front-end designer on the Search Results team.
Produce User Interface Design, deliver interactive prototypes, wireframes, and mocking-ups. A/B and multivariate testing with user-base. Public speaking at internal events.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web & Multimedia Manager</h3>
                            <div class="time">2008 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Center for Constitutional Rights, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In-house graphic design, web development, sys-administration, and strategic consulting to help envision, execute, maintain, and analyze multimedia.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Database Architect & Circulation Marketer</h3>
                            <div class="time">2002 - 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">The New York Sun, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Online and offline database marketing and graphic design; Circulation system database management.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web & Multimedia Marketer</h3>
                            <div class="time">2000 - 2001</div>
                        </div><!--//upper-row-->
                        <div class="company">Universal Music Group, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Online campaigns promoting urban music artists; email and database marketing; analytics reporting.
</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
