<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX Strategist</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Constellation Design, Amsterdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>UX Design consultant</strong>.
                        Manage, plan, or execute a human-centered design process, from research, exploration and ideation to prototyping, measurement, and iteration. Create artifacts that clearly communicate and enable actionable collaboration.</p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design Mentor</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">DesignLab.com, Worldwide</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Remote mentor on distance learning platform</strong>.
                        Advise and guide students increasing their knowledge of core UX and Design principles. Help to provide context, details, and real-word application of UX and Interaction Design notions.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX & Product Designer</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">VONQ, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p><strong>Product and UX designer for SAAS application</strong>. Organized and executed qualitative user research. Defined jobs-to-be-done objectives, customer journeys, and workflows. Produced product concepts to elaborate product vision and deliver UX assets (wireframes, sitemaps, interactive prototypes). Helped establish product roadmap through User-centered goals prioritization.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX Designer</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nipo Software, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>UX Designer for SAAS data collection platform</strong>.
                        Delivered product designs, prototypes, interactive style guides, and pattern libraries. Organised and executed user testing and research. Helped establish product roadmap through user-centred goal prioritization.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Designer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Booking.com, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Front-end designer on the Search Results team</strong>.
                        Delivered user interface design, interactive prototypes, wireframes, and mock-ups. A/B and multivariate testing with live user-base. Public speaking at internal events.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web & Multimedia Manager</h3>
                            <div class="time">2008 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Center for Constitutional Rights, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>In-house graphic designer, web developer, system administrator, and strategic media consultant</strong>. Helped envision, execute, maintain, and analyze multimedia that achieved campaign outreach and advocacy goals.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
