<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX & Product Designer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">VONQ, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p><strong>Product and UX designer for SAAS application</strong>. Organize and execute qualitative user research. Define jobs-to-be-done objectives, customer journeys, and workflows. Produce product concepts to elaborate product vision and deliver UX assets (wireframes, sitemaps, interactive prototypes).
Help establish product roadmap through User-centered goals prioritization.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design Mentor</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">DesignLab.com, Worldwide</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Remote mentor on distance learning platform</strong>.
Advise and guide students increasing their knowledge of core UX and Design principles. Help to provide context, details, and real-word application of UX and Interaction Design notions.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UX Designer</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nipo Software, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>UX Designer for SAAS data collection platform</strong>.
Produce product designs, interactive style guides, pattern libraries. Organize and execute user testing and research. Deliver prototypes. Help establish product roadmap through User-centered goals prioritization.
</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Designer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Booking.com, Amsterdam, NL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Front-end designer on the Search Results team</strong>.
Produce User Interface Design, deliver interactive prototypes, wireframes, and mocking-ups. A/B and multivariate testing with user-base. Public speaking at internal events.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web & Multimedia Manager</h3>
                            <div class="time">2008 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Center for Constitutional Rights, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>In-house graphic designer, web developer, system administrator, and strategic media consultant</strong>. Helped envision, execute, maintain, and analyze multimedia that achieved campaign outreach and advocacy goals.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Database Architect & Circulation Marketer</h3>
                            <div class="time">2002 - 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">The New York Sun, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Online and offline database marketer and graphic designer</strong>. Circulation system database management to maximize return on investment of list acquisition and increase customer subscriptions.</p>
                    </div><!--//details-->
                </div><!--//item-->

               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web & Multimedia Marketer</h3>
                            <div class="time">2000 - 2001</div>
                        </div><!--//upper-row-->
                        <div class="company">Universal Music Group, New York City</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><strong>Online campaign designer and promoter</strong>. Website and video game development, email and database marketing; analytics and reporting.
</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
