<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/qaidj/" target="_blank">@qaidj</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/qaid/" target="_blank">@qaid</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/qaidjacobs" target="_blank">linkedin.com/in/qaidjacobs</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://qaidjacobs.com/" target="_blank">qaidjacobs.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:working.qaid@gmail.com" target="_blank">working.qaid@gmail.com</a></p>
