<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some side projects keeping me engaged and active.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="https://www.alterconf.com/speakers/qaid-jacobs">AlterConf Public Speaking</a></span> - <span class="project-tagline">AlterConf is a conference series that focuses on the powerful voices and positive initiatives of  marginalized people in the tech and gaming industries. I've presented two talks, one in Paris, the other in London.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://blog.qaidjacobs.com" target="_blank">Slice &amp; Pulp</a></span> -
                    <span class="project-tagline">A Medium.com publication with some of my creative, critical, cultural, personal, and analytical writing.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/qaid/thefoodofparadise.com" target="_blank">The Food of Paradise</a></span> -
                    <span class="project-tagline">A combination of my long-form fiction writing and experiments in technology.</span>
                </div><!--//item-->


            </section><!--//section-->
